<footer class="site-footer">
	<div class="site-footer-inner">
		<h4 class="site-footer-title">Get in Touch</h4>

		<ul class="icon-diamond-list" role="navigation">
			{% if site.github_username %}
				<li>
					<a href="https://www.github.com/{{ site.github_username }}" class="link">
						<span class="visually-hidden">GitHub</span>
						{% include icons/github.html %}
					</a>
				</li>
			{% endif %}

			{% if site.codepen_username %}
				<li>
					<a href="http://codepen.io/{{ site.codepen_username }}" class="link">
						<span class="visually-hidden">CodePen</span>
						{% include icons/codepen.html %}
					</a>
				</li>
			{% endif %}
			
			{% if site.twitter_username %}
				<li>
					<a href="https://www.twitter.com/{{ site.twitter_username }}" class="link">
						<span class="visually-hidden">Twitter</span>
						{% include icons/twitter.html %}
					</a>
				</li>
			{% endif %}
			
			{% if site.email %}
				<li>
					<a href="mailto:{{ site.email }}" class="link">
							<span class="visually-hidden">Email</span>
						{% include icons/envelope.html %}
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</footer>

</body>

</html>
