<article class="project">
    <h2 class="project__title">{{ project.data.title }}</h2>

    <div class="project__details">
      {% if project.data.excerpt %}
        <p>{{ project.data.excerpt }}</p>
      {% else %}
        <p>{{ project.data.skills }}</p>
      {% endif %}
      <a href="{{ site.baseurl }}{{ project.url }}" class="project__button button">View this Project</a>
    </div>

    <a class="project__thumbnail" href="{{ site.baseurl }}{{ project.url }}">
      <img src="{{ project.data.thumbnail }}" alt="Screenshot of {{ project.data.title }}">
    </a>
</article>