html {
    font-size: 100%;
}

body {
    @include fluid-type(37.5rem, 80rem, 1rem, 1.25rem);

    background-color: #fefefe;
    color: $black;
    font-size: 100%;
    font-family: $font-body;
    font-weight: 300;
    line-height: 1.8;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 40rem;
}

.intro {
    font-size: 1.625rem;
    line-height: 1.76;
}

.section-heading {
    font-family: $font-heading;
    font-weight: bold;
    text-align: center;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
