.site-header-svg {
    background-color: $primary-light;
}

.header-nav {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 3rem;
    text-align: center;

    @media (min-width: 60rem) {
        text-align: left;
    }

    .home-link {
        border: 0;
        font-family: $font-heading;
        font-size: 1.5rem;
    }
}
