.header{
    background-color: $primary-light;

    .swoosh {
        transform: translateY(1px);
    }
}

.header-nav {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: .5rem;
    text-align: left;
}

.header-link {
    border-color: $primary-light;
    color: $gray;
    

    &:hover,
    &:focus {
        color: $gray;
        border-bottom: 2px solid currentColor;
    }

    // My name
    &:first-child {
        margin-right: auto;
        font-family: $font-heading;
    }
}
