.projects {
    max-width: 59rem;
    margin: 0 auto;
}

.project-header {
    text-align: center;
}

.project {
    display: grid;
    grid-template-areas: "title"
                         "details"
                         "thumbnail";
    grid-gap: 1rem;
    margin: 0 1rem 3rem 1rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: $gray;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.4;

    @media (min-width: $medium) {
        grid-template-areas: "title title"
                             "thumbnail details";
        grid-column-gap: 2rem;
        margin-top: 2rem;
       
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $large) {
        grid-template-areas: "thumbnail title"
                             "thumbnail details";
        margin-left: auto;
        margin-right: auto;
        max-width: $large;
    }
}

.project__title {
    grid-area: title;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: $font-heading;
    line-height: 1;

    @include breakpoint($medium) {
        text-align: center;
    }

    @media (min-width: $large) {
        align-self: flex-end;
        text-align: left;
    }
}

.project__details {
    grid-area: details;

    @media (min-width: $medium) {
        align-self: center;
    }

    @media (min-width: $large) {
        align-self: flex-start;
    }
}

.project__button {
    grid-area: button;
}

.project__thumbnail {
    grid-area: thumbnail;
    align-self: flex-end;
    border: 0;

    img {
        display: block;
    }
}
