{% include header.html %}

<main>
	<article>
		<section class="site-intro">
			<div class="site-intro-content">
				<h1 class="site-intro-heading">
					<div>Hello I'm</div>
					<div>Heather<br>Brokmeier</div>
					<div>Front End Web Developer</div>
				</h1>
			</div>

			<div class="site-intro-image">
					<img src="{{ site.url }}/assets/img/my-face-photo.png" alt="">
			</div>
		</section>

		<section class="projects">
			<h2 class="section-heading">Projects</h2>

			{% assign projects = site.projects | sort: 'order' %}
			{% for project in projects limit:3 %}
				<article class="project-intro">
					<div class="project-details project-tease-details">
						<h3 class="project-title project-tease-title">{{ project.title }}</h3>
						<p>{{ project.skills }}</p>
						<a href="{{ site.baseurl }}{{ project.url }}" class="button">View this Project</a>
					</div>

					<div class="project-thumbnail">
						<img src="{{ project.thumbnail }}" alt="">
					</div>
				</article>
			{% endfor %}

			<p class="text-center">
				<a href="{{ site.url }}/projects/" class="button">View More Projects</a>
			</p>

		</section>
	</article>
</main>

{% include footer.html %}