{% include header.html %}

<main>
	<article>
		<section class="site-intro">
			<div class="site-intro-content">
				<h1 class="site-intro-heading">
					<div>Hello I'm</div>
					<div>Heather<br>Brokmeier</div>
					<div>Front End Web Developer</div>
				</h1>
			</div>

			<div class="site-intro-image">
					<img src="{{ site.baseurl }}/assets/img/headshot.png" alt="">
			</div>
		</section>

		<section class="projects">
			<h2 class="section-heading">Projects</h2>

			{% assign projects = collections.projects | sort %}
			{% for project in projects limit:3 %}
				{% include project-card.html %}
			{% endfor %}

			<p class="text-center">
				<a href="{{ site.baseurl }}/projects/" class="button">View All Projects</a>
			</p>

		</section>
	</article>
</main>

{% include footer.html %}