{% include header.html %}

<main class="project">
	<article>
		<section class="project-intro">
			<div class="project-details">
				<h1 class="project-title project-tease-title">{{ title }}</h1>

				{% if role %}
					<p>
						<strong>Role:</strong> {{ role }}
					</p>
				{% endif %}

				{% if skills %}
					<p>
						<strong>Skills/Technology Used:</strong> {{ skills }}
					</p>
				{% endif %}

				{% if link or source %}
					<p>
						{% if link %}
							<a href="{{ link }}" class="button">Visit Site</a>
						{% endif %}

						{% if source %}
							<a href="{{ source }}" class="button">Source Code</a>
						{% endif %}
					</p>
				{% endif %}
			</div>

			<div class="project-thumbnail">
				{% if link %}<a href="{{ link }}">{% endif %}
					<img src="{{ thumbnail }}" alt="Screenshot of {{ title }}">
				{% if link %}</a>{% endif %}
			</div>
		</section>

		<section class="project-content container">
			{{ content }}
		</section>

		<nav class="page-navigation">
			{% assign next = collections.projects | getNextCollectionItem: page %}
			{% assign previous = collections.projects | getPreviousCollectionItem: page %}

			{% if previous %}
				<a class="page-navigation-prev" href="{{ previous.url }}">&laquo; {{ previous.data.title }}</a>
			{% endif %}

			{% if next %}
				<a class="page-navigation-next" href="{{ next.url }}">{{ next.data.title }} &raquo;</a>
			{% endif %}
		</nav>
	</article>
</main>

{% include footer.html %}
