{% include header.html %}

<main>
  <section class="container">
      <h1>{{ title }}</h1>
      {{ content }}
  </section>
  
  <section class="projects">
    {% assign projects = collections.projects | sort %}
    {% for project in projects %}
      <article class="project-intro">
        <div class="project-details project-tease-details">
          <h2 class="project-title project-tease-title">{{ project.data.title }}</h2>
          <p>{{ project.data.skills }}</p>
          <a href="{{ project.data.url | absolute_url }}" class="button">View this Project</a>
        </div>

        <div class="project-thumbnail">
          <a href="{{ project.data.url | absolute_url }}">
            <img src="{{ project.data.thumbnail }}" alt="Screenshot of {{ project.data.title }}">
          </a>
        </div>
      </article>
    {% endfor %}
  </section>
</main>

{% include footer.html %}