{% include header.html %}

<main>
	<article>
		<section class="project">
				<h1 class="project__title">{{ title }}</h1>

			<div class="project__details">

				{% if excerpt %}
					<p>{{ excerpt }}</p>
				{% endif %}

				<p>
					{% if role %}
						<strong>Role:</strong> {{ role }}<br>
					{% endif %}

					{% if skills %}
						<strong>Skills/Technology Used:</strong> {{ skills }}
					{% endif %}
				</p>

				{% if link or source %}
					{% if link %}
						<a href="{{ link }}" target="_blank" rel="noopener noreferrer" class="button">Visit Site</a>
					{% endif %}

					{% if source %}
						<a href="{{ source }}" target="_blank" rel="noopener noreferrer" class="button">Source Code</a>
					{% endif %}
				{% endif %}
			</div>

			<div class="project__thumbnail">
				{% if link %}<a href="{{ link }}">{% endif %}
					<img src="{{ thumbnail }}" alt="Screenshot of {{ title }}">
				{% if link %}</a>{% endif %}
			</div>
		</section>

		<section class="container">
			{{ content }}
		</section>

		<nav class="page-navigation">
			{% assign next = collections.projects | getNextCollectionItem: page %}
			{% assign previous = collections.projects | getPreviousCollectionItem: page %}

			{% if previous %}
				<a class="page-navigation-prev" href="{{ previous.url }}">&laquo;&nbsp;{{ previous.data.title }}</a>
			{% endif %}

			{% if next %}
				<a class="page-navigation-next" href="{{ next.url }}">{{ next.data.title }}&nbsp;&raquo;</a>
			{% endif %}
		</nav>
	</article>
</main>

{% include footer.html %}
